################################################
## Project Specific
################################################

# User-specific files
AnsibleAPI/AnsibleAPI/bin/
AnsibleAPI/AnsibleAPI/obj/
AnsibleAPI/AnsibleAPI.Domain/bin/
AnsibleAPI/AnsibleAPI.Domain/obj/
AnsibleAPI/packages/
AnsibleAPI/AnsibleAPI/Content
AnsibleAPI/AnsibleAPI/Scripts
AnsibleAPI/AnsibleAPI/fonts

################################################